table {
    border:0px;
    border-collapse:collapse;
    width: 100%;
    font-size:0.90em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #333333;
    table-layout: fixed;
}
td.line { color:#8080a0 }
table.diff tr td.diffpresent { word-wrap: break-word; white-space: pre-wrap; width: 49%; }
table.diff tr td.diffpresent span { word-wrap: break-word; white-space: pre-wrap; }
table.diff td.with_liner { border-left: 1px solid #999999; }
th {
	background: lightgray;
	color: #333333;
	font-size: 0.90em;
	font-weight: normal;
	border-bottom: 2px solid whitesmoke;
}
tr.diffunmodified > td { background: #EEEEEE }
tr.diffhunk > td { background: #A0A0A0 }
tr.diffadded > td { background: #CCFFCC }
tr.diffdeleted > td { background: #FFCCCC }
tr.diffchanged > td { background: #FFFFA0 }
span.diffchanged2 { background: #E0C880 }
span.diffponct { color: #B08080 }
tr.diffmisc td {}
tr.diffseparator td {}
tr.invheader > td { background: #B8B8B8; color: lightyellow; }
div.scrollable-table { max-height: 320px; overflow: auto; }
a.special-neighbor-link { color: red }
a.hidable-mtd-equal-inv { color: darkgray }
a.output-invc-highlight { color: red! important; text-decoration: none }
a.csi-iso-ctrl-group {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background: linear-gradient(whitesmoke, lightgray);
    padding: 2px 8px;
    margin: 0 2px 0 2px;
    position: relative;
    border: 1px solid gray;
    padding: 4px 8px 2px 8px;
}
span.more-inv-display-option-listing {
    margin-left: 2px;
    margin-right: 4px;
}
a.src-inv-button-link {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background: linear-gradient(whitesmoke, lightgray);
    padding: 2px 12px;
    margin-left: 2px;
    border: 1px solid gray;
    padding: 4px 8px 2px 8px;
}
div#getty-full-code-diff, div#getty-full-inv-diff {
    border:2px solid gray;
    border-radius:8px;
    padding:8px;
}
div#csi-output-targets {
    border: 2px solid gray;
    padding: 4px 4px 4px 4px;
    margin: 8px 0 0 0;
    border-radius: 4px;
}
div#csi-output-targets a { color: blue }
div.target-sep { margin: 0px 8px 0px 0px; display: inline-block; }
.menu-words {
	font-family:sans-serif;
	font-size: 0.95em;
	color: #222222;
}
.program-words {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.95em;
    color: #333333;
}
div#csi-output-targets div.target-top-row { margin: 4px 0px; }
div#csi-output-targets .entry-header { margin: 8px 8px 4px 0px; display: inline-block; }
div#csi-output-targets a.target-linkstyle {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.95em;
}
div#csi-output-targets a:hover { background-color: yellow }
div#csi-output-menu { padding: 4px 0 0 4px; }
div#csi-output-neighbors-outer {
	position: relative;
    border:2px dotted lightgray;
    padding: 4px 4px 4px 4px;
    margin: 8px 0 0 0;
    border-radius: 4px;
}
div#csi-output-neighbors table#neighbors {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.90em;
}
div#csi-output-neighbors table#neighbors td#neighbor-center {
	font-weight: bold;
	background: lightyellow;
}
div#csi-output-neighbors table#neighbors td div {
    max-height: 100px;
    overflow: auto;
}
div#csi-output-neighbors a:hover { background-color: yellow }
div#csi-output-neighbors td.exist-neighbor {
	border: 2px dotted gray;
	padding: 8px 4px 8px 4px;
	text-align: center;
}
div#csi-output-invcomp-outer {
    border: 2px solid gray;
    padding: 4px 4px 4px 4px;
    margin: 8px 0 0 0;
    border-radius: 4px;
    position: relative;
}
div#csi-output-invcomp-outer a { font-family: sans-serif; }
div.link-button-tabs-bottom {
	display: inline-block;
	border-bottom: 2px solid gray;
	padding: 0 4px 0 4px;
}
div.inv-cmp-title { margin: 8px 0px 4px 0px; }
table#neighbors a { text-decoration: none; display: inline-block; }
table#neighbors span { display:inline-block; }
.tooltip {
    position: absolute;
    padding: 0px 16px;
    z-index: 2;
    color: #303030;
    background-color: #DFEFEA;
    border: 2px ridge #F383BC;
    font-family: sans-serif;
    font-size: 14px;
}
span.iso-type-tip pre { margin: 2px 0; }
.csi-iso-ctrl-group .iso-type-tip {
    visibility: hidden;
    background-color: #303030;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    border-radius: 4px;
    padding: 2px 8px;
    position: absolute;
    bottom: 26px;
    left: 2px;
    z-index: 1;
}
.csi-iso-ctrl-group:hover .iso-type-tip {
    visibility: visible;
}

/* button-checkbox styles */
.onoffswitch {
    width: 64px; display: inline-block; position: absolute;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: inline-block; position: relative;
    overflow: hidden; cursor: pointer;
    width: 54px; height: 14px;
    border: 2px solid #AAAAAA; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SHOW";
    padding-left: 4px;
    background-color: #CCFFCC; color: #888888;
}
.onoffswitch-inner:after {
    content: "HIDE";
    padding-right: 6px;
    background-color: #EEEEEE; color: #888888;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #AAAAAA; border-radius: 16px;
    transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
